In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('../data/ramen_pho_count.csv')

In [5]:
data.head()

           city              state country  ramen_count  pho_count
0  San Francisco        California     USA          869        596
1        Toronto           Ontario  Canada          314        282
2      Vancouver  British Columbia  Canada          303        274
3    Los Angeles        California     USA         1802       1503
4        Chicago          Illinois     USA          431        232